.settings/*
.project
.classpath
*.class
jni/*.o
jni/*.so
.idea/*
*.iml
out/*
*.state
/build/
/build-test/
/dist/
/test-reports/
/beast_*.csv
/test2-*.csv
/beast.log
/state.backup.xml
/build.properties

plots/*
data/*

*.~
/.metadata/
